In [1]:
%load_ext autoreload
%autoreload 2
%cd ..

/home/daniel/Documents/housing

In [ ]:
import pathlib
import pandas as pd
import os

root_path = pathlib.Path(".")
data_path = root_path / "data"
hvs_data_path = data_path / "NYC_HVS"
year = 2023
year_data_path = hvs_data_path / str(year)

files = os.listdir(year_data_path)

dfs = {}
for file in files:
    if file.endswith(".csv"):
        dfs[file.replace(".csv", "")] = (pd.read_csv(year_data_path / file))

In [17]:
dfs["occupied_puf_23"]["RENT_AMOUNT"].describe()

count     8776.000000
mean      1396.629900
std       1502.500787
min         -2.000000
25%          0.000000
50%       1200.000000
75%       1975.000000
max      12495.000000
Name: RENT_AMOUNT, dtype: float64

In [18]:
dfs["occupied_puf_23"]

,CONTROL,TENURE,HHSIZE,HH62PLUS,HHUNDER18,HHUNDER6,HHFIRSTMOVEIN,HHDEAR,HHDEYE,HHDREM,...,FW71,FW72,FW73,FW74,FW75,FW76,FW77,FW78,FW79,FW80
0,12130002,2,4,2,1,2,2007,2,2,2,...,442.455446,127.631770,711.527866,132.998833,709.589086,130.988565,736.863209,129.455196,762.451636,119.404255
1,12130005,1,2,1,2,2,2003,2,2,2,...,169.052548,553.284761,942.616620,164.975190,931.214014,559.255649,554.254696,560.187235,161.939232,567.640705
2,12130008,1,2,2,2,2,2022,2,2,2,...,239.068885,234.129431,71.519095,399.007919,71.703011,234.722388,410.574605,70.158697,393.432862,246.590232
3,12130010,1,1,2,2,2,2021,2,2,2,...,230.859408,224.223475,224.530093,232.675383,379.403388,66.640274,222.069717,387.334049,225.783637,232.247668
4,12130011,2,1,2,2,2,2021,1,1,1,...,537.958596,521.546224,888.184005,542.202939,149.320506,530.269565,524.148922,518.288581,900.353246,532.630520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8771,12158886,1,2,1,2,2,2013,1,1,1,...,249.642410,429.093077,264.682886,260.675178,255.321122,77.789638,253.021151,439.918701,259.420088,258.679813
8772,12158888,1,3,2,1,2,2018,2,2,2,...,177.331859,174.204259,167.746866,587.990824,592.679480,173.258906,170.266419,575.221657,171.783096,172.634492
8773,12158891,2,5,2,1,2,2007,2,2,2,...,1016.971770,568.040423,582.367243,585.770664,594.786202,580.336959,165.784492,983.903069,172.660540,571.598400
8774,12158893,1,2,2,2,2,2022,2,2,2,...,415.471520,71.921377,239.770131,244.641758,401.938011,243.534240,239.737898,71.827585,240.138474,411.038052
8775,12158897,1,1,1,2,2,2012,2,2,2,...,426.166251,73.620733,264.682886,260.675178,435.860419,265.590437,74.108179,257.698409,259.420088,258.679813

In [19]:
dfs["allunits_puf_23"]

,CONTROL,BORO,OCC,CSR,CONDOCOOP,STORIES,ELEVATOR,UNITS,UNIT_FLOOR,UNIT_ONEPLUSFLIGHT,...,FW71,FW72,FW73,FW74,FW75,FW76,FW77,FW78,FW79,FW80
0,12130002,2,1,2,2,6,1,10,5,2,...,442.455446,127.631770,711.527866,132.998833,709.589086,130.988565,736.863209,129.455196,762.451636,119.404255
1,12130005,3,1,80,2,4,1,6,3,2,...,169.052548,553.284761,942.616620,164.975190,931.214014,559.255649,554.254696,560.187235,161.939232,567.640705
2,12130008,3,1,80,3,7,1,10,5,2,...,239.068885,234.129431,71.519095,399.007919,71.703011,234.722388,410.574605,70.158697,393.432862,246.590232
3,12130010,3,1,80,3,5,1,10,1,2,...,230.859408,224.223475,224.530093,232.675383,379.403388,66.640274,222.069717,387.334049,225.783637,232.247668
4,12130011,3,1,2,2,4,1,8,5,2,...,537.958596,521.546224,888.184005,542.202939,149.320506,530.269565,524.148922,518.288581,900.353246,532.630520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9592,12158886,1,1,32,3,5,1,9,3,2,...,249.642410,429.093077,264.682886,260.675178,255.321122,77.789638,253.021151,439.918701,259.420088,258.679813
9593,12158888,2,1,80,3,1,2,2,1,2,...,177.331859,174.204259,167.746866,587.990824,592.679480,173.258906,170.266419,575.221657,171.783096,172.634492
9594,12158891,5,1,6,3,1,2,2,1,2,...,1016.971770,568.040423,582.367243,585.770664,594.786202,580.336959,165.784492,983.903069,172.660540,571.598400
9595,12158893,3,1,80,3,7,1,10,3,2,...,415.471520,71.921377,239.770131,244.641758,401.938011,243.534240,239.737898,71.827585,240.138474,411.038052
9596,12158897,1,1,32,3,5,1,10,5,2,...,426.166251,73.620733,264.682886,260.675178,435.860419,265.590437,74.108179,257.698409,259.420088,258.679813